body {
    font-family: sans-serif;
    text-align: center;
}

#game-grid {
    width: 800px; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 60px auto;
}

#game-grid img {
    width: 200px;
    height: 200px;
}
